$DesaturatedRed: hsl(0, 36%, 70%);
$SoftRed: hsl(0, 93%, 68%);
$DarkGrayishRed: hsl(0, 6%, 24%);
$PureWhite: hsl(0, 0%, 100%);
$LightPink: rgb(255, 244, 244);
$DropShadowRed: rgba(198, 110, 110, 0.3);
$DropShadowRedHover: rgba(198, 110, 110, 0.5);